In [1]:
import pandas as pd
import numpy as np

In [17]:
bet_mgm_df = pd.read_csv('data/bet_mgm_mlb.csv')
caesars_df = pd.read_csv('data/caesars_mlb.csv')
draft_kings_df = pd.read_csv('data/draft_kings_mlb.csv')
events_df = pd.read_csv('data/events_mlb.csv')

In [27]:
sportsbooks = [bet_mgm_df, caesars_df, draft_kings_df]

In [18]:
bet_mgm_df.head(6)

,Team,Spread,Total,Moneyline,Event ID
0,White Sox,+2.5 -110,O 8.5 -105,300,dff8f4c4-a089-4454-bea6-adf25e2d84be
1,Orioles,-2.5 -110,U 8.5 -115,-375,dff8f4c4-a089-4454-bea6-adf25e2d84be
2,Phillies,-1.5 +130,O 7.5 -120,-135,fc414bfc-33b5-400d-9d43-111ac9496731
3,Blue Jays,+1.5 -155,U 7.5 +100,115,fc414bfc-33b5-400d-9d43-111ac9496731
4,Astros,-1.5 +110,O 9 -110,-145,7dd518df-3071-4dcc-a058-adfc134ee3a5
5,Reds,+1.5 -130,U 9 -110,120,7dd518df-3071-4dcc-a058-adfc134ee3a5

In [19]:
caesars_df.head(6)

,Team,Spread,Total,Moneyline,Event ID
0,Phillies,-1.5+130,8.0+100,-130,fc414bfc-33b5-400d-9d43-111ac9496731
1,Blue Jays,+1.5-155,8.0-120,110,fc414bfc-33b5-400d-9d43-111ac9496731
2,White Sox,+1.5+170,8.5-110,310,dff8f4c4-a089-4454-bea6-adf25e2d84be
3,Orioles,-1.5-205,8.5-110,-400,dff8f4c4-a089-4454-bea6-adf25e2d84be
4,Astros,-1.5+110,9.0-105,-145,7dd518df-3071-4dcc-a058-adfc134ee3a5
5,Reds,+1.5-130,9.0-115,122,7dd518df-3071-4dcc-a058-adfc134ee3a5

In [20]:
draft_kings_df.head(6)

,Team,Spread,Total,Moneyline,Event ID
0,Phillies,-1.5+130,O 7.5−115,−130,fc414bfc-33b5-400d-9d43-111ac9496731
1,Blue Jays,+1.5−155,U 7.5−105,+110,fc414bfc-33b5-400d-9d43-111ac9496731
2,White Sox,+1.5+154,O 8.5−110,+300,dff8f4c4-a089-4454-bea6-adf25e2d84be
3,Orioles,-1.5−185,U 8.5−110,−380,dff8f4c4-a089-4454-bea6-adf25e2d84be
4,Nationals,-1.5+120,O 8.5−110,−148,a99ecf5b-8477-4330-846a-ed1aa55d260d
5,Marlins,+1.5−142,U 8.5−110,+124,a99ecf5b-8477-4330-846a-ed1aa55d260d

In [13]:
events_df

                                Event ID      Team One   Team Two
0   fc414bfc-33b5-400d-9d43-111ac9496731      Phillies  Blue Jays
1   dff8f4c4-a089-4454-bea6-adf25e2d84be     White Sox    Orioles
2   a99ecf5b-8477-4330-846a-ed1aa55d260d     Nationals    Marlins
3   7dd518df-3071-4dcc-a058-adfc134ee3a5        Astros       Reds
4   c478c59e-74c4-499a-bc09-18addac14f98         Twins       Rays
5   d5547cbe-82a3-428b-999c-a115042c062d       Red Sox       Mets
6   5169c2fb-a07c-48d3-bfab-296f2af5b408       Rockies     Braves
7   ddf11dd1-f455-4f57-ad86-1c04a4b32bb4     Guardians     Royals
8   156c1c5c-0f97-46c6-8922-c2659dd75087     Cardinals    Brewers
9   c4681ea5-54f8-4ac5-be99-5993de212e1b       Pirates       Cubs
10  8e27822c-c2b4-405a-86ab-07fe9badddae       Yankees    Rangers
11  796901a3-5ad7-49da-9c80-dc8bc29704d2       Dodgers     Angels
12  3379ae49-3448-4b7e-bf47-9318476ef462        Tigers     Padres
13  6f5de5c6-04b0-4ba8-93e5-f44b89d973e3      Mariners  Athletics
14  d6dde295-50a2-413a-a27b-c6e3cc0452e4  Diamondbacks     Giants

In [28]:
def has_arbitrage(event_id):
  pass

In [26]:
for index, event in events_df.iterrows():
	event_id = event['Event ID']
	team_one = event['Team One']
	team_two = event['Team Two']